<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container" style="display:flex;flex-direction:column;align-items:center;margin-top:150px;">
    <h1>로그인</h1>
    <form method="post" action="/login" style="margin-bottom:20px;">
        <input type="text" name="username" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
    <a th:href="${location}">
        <img src="/kakao_login_medium_narrow.png" alt="Kakao Login" />
    </a>
    <a href="/signup" style="margin-top:10px;">회원가입</a>
</div>
</body>
</html>